{-
Test cases for {{prjId}}
-}
module Tests where

import           Hasklepias
import           Cohort

tests :: TestTree
tests = testGroup 
    "add tests" 
    [testCase "true is true" (True @?= True) ]