# system stuff
*.DS_Store
*~

# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# IDE stuff
*.sublime*
*code-workspace

# User stuff
cabal.project.local

# build artifacts
doc/manual.html
.stack-work/
dist-newstyle*
install*
builds*
docs-site/build*
docs-site/node_modules*